# Environment variables
backend/.env
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local database & builds
*.db
backend/docvault.db
node_modules/
frontend/node_modules/
dist/
frontend/dist/
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
