name: Deploy to Azure VM

on:
  workflow_run:
    workflows: ["Build and Push Docker Images"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on Azure VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd ~/varitydoc
            export IMAGE_TAG=${{ github.event.workflow_run.head_sha }}
            sed -i "s|image: jatinnaik16/docvault-backend:.*|image: jatinnaik16/docvault-backend:${IMAGE_TAG}|g" docker-compose.yml
            sed -i "s|image: jatinnaik16/docvault-frontend:.*|image: jatinnaik16/docvault-frontend:${IMAGE_TAG}|g" docker-compose.yml
            docker compose pull
            docker compose up -d --force-recreate
